[Unit]
Description=ZenMarket Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/zenmarket-bot
ExecStart=/usr/bin/python3 /root/zenmarket-bot/bot.py
Restart=always
RestartSec=15
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
